<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Lite Chat</title>
</head>
<body style="background-color: skyblue">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Lite Chat</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup" target="_blank"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login" target="_self"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron" style="margin: 20px;border-radius:15px" >
    <h1 style="padding-left: 100px">Welcome to use lite chat!</h1>
    <p style="padding-left: 500px">lite chat is a web-chat application baseed on GAE.</p>
 </div>
</body>
</html>